<h1>About this application</h1>
<p>This application was made with the use of Rails 4.14</p>
<p>To help me in the process of making this application, I used three important gems:
<ul>
    <li>Devise</li>
    <li>rspec - to help me with testing. Note that I didn't do in depth test, but just enough to make sure the validations for the models were working correctly</li>
    <li>FactoryGirl - alternative to fixtures</li>
</ul>
</p>




