<h1>Profile for Cars</h1>
<p>Profile for Cars is a simple little application in Rails to demonstrate my capacity at making a Rails application. 
If you want to know more about this project (technical details and such) please visit the about page. Once it is done, you may 
begin your journey by clicking sign up on the top-right corner of this page.
</p>
